<h2>Edit <%= @landmark.name %> </h2>

<form action="/landmarks/<%= @landmark.id %>" method="POST">

    <input type="hidden" name="_method" value="PATCH">

    <h3><label for="landmark_name">Name:</label></h3>
    <input type="text" name="landmark[name]" value="<%= @landmark.name %>" id="name">

    <h3><label for="landmark_year_completed">Year Completed:</label></h3>
    <input type="text" name="landmark[year_completed]" value="<%= @landmark.year_completed %>" id="year_completed">

    <input type="submit" value="Edit Landmark">

</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
